* {
    box-sizing: border-box;
}

body {
    background-color: blue;
    min-height: 100vh;
    max-width: 1440px;
}

form {
    position: relative;
    display: flex;
    justify-content: center;
}

#planet-box {
    display: flex;
    position: relative;
    top: 300px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30px;
}

#planet1 {
    width: 150px;
    height: 150px;
    
    background-color: rgb(217, 255, 0);
    border-radius: 150px;
}

#planet2 {
    width: 45px;
    height: 45px;
    background-color: brown;
    border-radius: 50px;
}

#planet3 {
    width: 44px;
    height: 44px;
    background-color: brown;
    border-radius: 50px;
}

#planet4 {
    width: 43px;
    height: 43px;
    background-color: brown;
    border-radius: 50px;
}

#planet5 {
    width: 65px;
    height: 65px;
    background-color: rgb(68, 61, 171);
    border-radius: 50px;
}

#planet6 {
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50px;
}

#planet7 {
    width: 140px;
    height: 140px;
    background-color: rgb(24, 98, 55);
    border-radius: 140px;
}

input {
    margin-left: 15px;
}

#planet8 {
    width: 25px;
    height: 25px;
    background-color: brown;
    border-radius: 50px;
}

#planet9 {
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50px;
}